html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-user-select: none;
    cursor: default;
}

*, *:before, *:after {
    box-sizing: border-box;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.1);
    background-color: #FAFAFA;
}

::-webkit-scrollbar
{
    width: 7px;
    background-color: #FAFAFA;
}

::-webkit-scrollbar-thumb
{
    background-color: #CCCCCC;
}

.view {
    position: relative;
    height: calc(100% - 22px);
    width: 100%;
}

.foot {
    height: 22px;
    padding-top: 3px;
    font-size: 12px;
    text-align: center;
    color: #999;
}

.view-child {
    width: 100%;
    height: 100%;
}

.form-div {
    -webkit-user-select: none;
    width: 300px;
}

.entry-button-box {
    margin-top: 8px;
}

.entry-button-box > * {
    margin-left: 6px;
    margin-right: 6px;
}

.error-box-placeholder {
    height: 22px;
    padding-left: 5px;
    top: -10px;
    position: relative;
    margin-bottom: -10px;
}

.error-box > span {
    color: rgb(244,67,54);
    font-size: 12px;
}

.keyfile-button {
    text-align: left;
}

.main-container {
    height: 100%;
    width: 100%;
}

.top-menu {
    padding: 5px;
    height: 60px;
}

.loggedas {
    font-size: 14px;
    color: #555;
    line-height: 50px;
    padding-left: 10px;
}

.chat-tabs {
    min-height: calc(100% - 60px);
    height: calc(100% - 60px);
}

.disable-uppercase {
    text-transform: none;
}

.close-tab-icon {
    position: relative;
    top: -10px;
    right: -15px;
    opacity: 0.1;
    transition: all 0.25s;
}

.close-tab-icon:hover {
    opacity: 1;
    cursor: pointer;
}

.close-tab-icon:active {
    outline: 0;
    opacity: 1;
    cursor: pointer;
}

.messages-container {
    height: calc(100% - 50px);
    overflow-y: scroll;
    -webkit-user-select: text;
    cursor: auto;
    word-wrap: break-word;
}

.message-box {
    width: 100%;
    height: 50px;
}

.message-box > textarea {
    height: 50px;
    width: 100%;
    resize: none;
    padding: 3px;
    border-color: rgba(0,0,0,0.12);
    border-width: 1px;
}

.message-box > textarea:focus {
    padding: 2px;
    outline: 0;
    border-color: rgb(63,81,181);
    border-width: 2px;
}

.friends-sidenav {
    height: 100%;
}

.frient-request-box {
    padding: 0 16px 0 16px;
}
