<div class="view-child" layout="row">
  <div class="left-side-container">

    <!-- top menu -->
    <md-content layout="row" class="top-menu">
      <span>{{user}}@{{host}}</span>
      <span flex></span>
      <md-button ng-click="logout()" class="md-icon-button" aria-label="logout"><i class="fa fa-sign-out"></i></md-button>
    </md-content>

    <!-- chats -->
    <md-tabs md-selected="activeChat" class="md-primary chat-place" ng-show="chats.length >= 1">
      <md-tab ng-repeat="chat in chats">
        <md-tab-label>
          <span class="disable-uppercase">{{chat.title}}</span><i ng-click="closeChat(chat)" class="close-tab-icon fa fa-times"></i>
        </md-tab-label>
        <md-tab-body>
          <md-content class="messages-container" scroll-glue>
            <md-list>
              <md-list-item class="md-3-line" ng-repeat="msg in chat.messages">
                <div class="md-list-item-text">
                  <h3>{{msg.author}}</h3>
                  <h4>{{msg.time | date : 'mediumTime'}}</h4>
                  <p>{{msg.body}}</p>
                </div>
              </md-list-item>
            </md-list>
          </md-content>
          <div class="message-box">
            <textarea ng-enter="sendMessage()" ng-model="chat.message"></textarea>
          </div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
    <md-content class="chat-place" layout="column" layout-align="center center" ng-hide="chats.length >= 1">
      <span class="chats-placeholder">place for chats</span>
    </md-content>

  </div>

  <!-- friends box -->
  <md-sidenav class="md-sidenav-right friends-sidenav" md-is-locked-open="true">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><span>Friends</span></h2>
        <span flex></span>
        <md-button ng-click="addFriend()" aria-label="add" class="md-icon-button"><i class="fa fa-plus"></i></md-button>
      </div>
    </md-toolbar>
    <md-list>
      <section>
        <md-list-item ng-repeat="friend in friends" ng-click="openChat(friend.name)">
          {{friend.name}}
        </md-list-item>
      </section>
      <section ng-show="friendRequests.length > 0">
        <md-subheader>Requests</md-subheader>
        <md-list-item class="md-primary frient-request-box" ng-repeat="request in friendRequests">
          {{request.fullid}}
          <span flex></span>
          <md-button class="md-icon-button" ng-click="friendshipResponse(request.res, true)" aria-label="yes"><i class="fa fa-check"></i></md-button>
          <md-button class="md-icon-button" ng-click="friendshipResponse(request.res, false)" aria-label="no"><i class="fa fa-times"></i></md-button>
        </md-list-item>
      </section>
    </md-list>
  </md-sidenav>
</div>